@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.commentable-container {
  -webkit-transition: all .15s ease;
  transition: all .15s ease;
}
.side-comments-open {
  -webkit-transform: translate(-280px, 0);
  -ms-transform: translate(-280px, 0);
  transform: translate(-280px, 0);
}
.commentable-section {
  position: relative;
}
.commentable-section:hover .side-comment .marker {
  display: block;
}
.side-comment {
  position: absolute;
  top: 0px;
  right: -80px;
  width: 80px;
  min-height: 100%;
  height: 100%;
}
.side-comment * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.side-comment .hide {
  display: none;
}
.side-comment .marker {
  display: none;
  position: absolute;
  top: 0;
  right: 30px;
  width: 20px;
  height: 18px;
  cursor: pointer;
  background: #DEDEDC;
  border-radius: 2px;
  text-decoration: none;
}
.side-comment .marker:before,
.side-comment .marker span {
  content: "+";
  display: block;
  position: absolute;
  width: 20px;
  height: 18px;
  line-height: 16px;
  font-size: 14px;
  color: #FFF;
  text-align: center;
}
.side-comment .marker span {
  display: none;
  line-height: 20px;
  font-size: 12px;
}
.side-comment.active .marker,
.side-comment.has-comments .marker,
.side-comment.has-comments ul.comments {
  display: block;
}
.side-comment .marker:after {
  content: "";
  display: block;
  position: absolute;
  bottom: -7px;
  left: 5px;
  width: 0;
  border-width: 7px 8px 0 0;
  border-style: solid;
  border-color: #DEDEDC transparent;
}
.side-comment .marker:hover,
.side-comment.active .marker {
  background: #4FAF62;
}
.side-comment .marker:hover:after,
.side-comment.active .marker:after {
  border-color: #4FAF62 transparent;
}
.side-comment .add-comment {
  display: none;
}
.side-comment.has-comments .add-comment,
.side-comment.no-current-user .add-comment {
  display: block;
}
.side-comment.no-current-user .add-comment {
  margin-top: 20px;
}
.side-comment.has-comments .marker:before {
  content: "";
}
.side-comment.has-comments .marker span {
  display: block;
}
.side-comment.has-comments .add-comment.hide {
  display: none;
}
.side-comment.has-comments .comment-form {
  display: none;
}
.side-comment .comments-wrapper {
  display: none;
  position: absolute;
  top: 0;
  left: 80px;
  width: 280px;
  padding-bottom: 120px;
}
.side-comment .comments {
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
}
.side-comment .comments li {
  overflow: hidden;
}
.side-comment .author-avatar {
  float: left;
  width: 32px;
  height: 32px;
  margin-right: 10px;
}
.side-comment .author-avatar img {
  width: 100%;
  height: 100%;
}
.side-comment .author-name {
  float: left;
  width: 238px;
}
.side-comment .comment-box:empty:not(:focus):before {
  content: attr(data-placeholder-content);
  float: left;
}
.side-comment .comment,
.side-comment .comment-box,
.side-comment .actions {
  margin: 0;
  width: 238px;
  float: left;
}
.side-comment .actions,
.side-comment .delete {
  margin-left: 42px;
}
.side-comment .comment-box {
  outline: none;
}
.side-comment .add-comment.active {
  display: block;
}
.side-comment .comment-form {
  overflow: hidden;
}
.side-comment .comment-form.active {
  display: block;
}
.side-comment.active .comments-wrapper {
  display: block;
  -webkit-animation: fadein 0.2s;
  animation: fadein 0.2s;
}
