<li data-comment-id="<%= comment.id %>">
  <div class="author-avatar">
    <img src="<%= comment.authorAvatarUrl %>">
  </div>
  <% if (comment.authorUrl) { %>
    <a class="author-name right-of-avatar" href="<%= comment.authorUrl %>">
      <%= comment.authorName %>
    </a>
  <% } else { %>
    <p class="author-name right-of-avatar">
      <%= comment.authorName %>
    </p>
  <% } %>
  <p class="comment right-of-avatar">
    <%= (comment.deleted != null && comment.deleted) ? "<em>Comment deleted by the author</em>" : comment.comment %>
  </p>

  <% if ( comment.parentId == null ) { %>
  
    <ul class="replies">
      <% _.each(comment.replies, function ( reply ) {%>
        <%= _.template(self, { comment: reply, currentUser: currentUser, formTemplate: formTemplate }) %>
      <% });%>
    </ul>

    <% if (currentUser){ %>
      <a href="#" class="action-link reply-comment" data-comment="<%= comment.id %>">Reply</a>
      <%= _.template(formTemplate, { currentUser: currentUser, formClass: 'reply-form', commentId: comment.id })%>
      <% if (comment.authorId === currentUser.id) { %>
        <a href="#" class="action-link delete">Delete</a>
      <% } %>
    <% } %>

  <% } else { %>

    <% if (currentUser && comment.authorId === currentUser.id) { %>
      <a href="#" class="action-link delete" data-parent-id="<%= comment.parentId %>">Delete</a>
    <% } %>

  <% } %>

</li>