<div class="side-comment <%= commentClass %>">
  <a href="#" class="marker">
    <span><%= comments.length %></span>
  </a>
  
  <div class="comments">
    <ul>
      <% _.each(comments, function( comment ){ %>
        <li>
          <div class="author-avatar">
            <img src="<%= comment.authorAvatarUrl %>">
          </div>
          <p class="author-name">
            <%= comment.authorName %>
          </p>
          <p class="comment">
            <%= comment.comment %>
          </p>
        </li>  
      <% }) %>
    </ul>
    <a href="#" class="add-comment">Leave a comment</a>
  </div>
</div>