<div class="side-comment">
  <a href="#" class="marker"></a>
  
  <div class="comments">
    <ul>
      <li>
        <div class="author-avatar">
          <img src="https://d262ilb51hltx0.cloudfront.net/fit/c/64/64/0*bBRLkZqOcffcRwKl.jpeg">
        </div>
        <p class="author-name">
          Eric Anderson
        </p>
        <p class="comment">
          Maecenas sed diam eget risus varius blandit sit amet non magna. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
        </p>
      </li>
      <li>
        <div class="author-avatar">
          <img src="https://d262ilb51hltx0.cloudfront.net/fit/c/64/64/0*bBRLkZqOcffcRwKl.jpeg">
        </div>
        <p class="author-name">
          Eric Anderson
        </p>
        <p class="comment">
          Maecenas sed diam eget risus varius blandit sit amet non magna. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
        </p>
      </li>
      <li>
        <div class="author-avatar">
          <img src="https://d262ilb51hltx0.cloudfront.net/fit/c/64/64/0*bBRLkZqOcffcRwKl.jpeg">
        </div>
        <p class="author-name">
          Eric Anderson
        </p>
        <p class="comment">
          Maecenas sed diam eget risus varius blandit sit amet non magna. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
        </p>
      </li>
    </ul>
    <a href="#" class="add-comment">Leave a comment</a>
  </div>
</div>